body {
    margin: 0;
}

header {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo {
    width: 75px;
}

footer {
    text-align: center;
    margin: 0 auto;
}
