@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rokkitt:ital,wght@0,100..900;1,100..900&family=Rosarivo:ital@0;1&display=swap');

body {
    margin: 0 auto;
    text-align: center;
    background-color: #537D3B;
}

header {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #7CA7CB;
    padding: 10px;
    align-items: center;
}

h1, h2 {
    color: #FF9A1F;
    font-family: "Bebas Neue", sans-serif;
}

p {
    font-family: "Rokkitt", serif;
}

.logo {
    width: 75px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 10% 0 10%;
    gap: 10%;
}

.card {
    border: 1px solid;
    background-color: #7CA7CB;
}

footer {
    text-align: center;
    margin: 5% 0 0 0;
    background-color: #AF5931;
    color: white;
    padding: 10px;
}
