body {
    margin: 0 auto;
    text-align: center;
}

header {
    max-width: 50%;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.logo {
    width: 75px;
}

.cards {
    display: grid;
    grid-template-columns: auto auto;
}

footer {
    text-align: center;
    margin: 0 auto;
}
